.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 3% 0;
  overflow: hidden;
  &::before{
    content: "";
    background: url("../../../assets/images/bg.jpg") no-repeat fixed top center;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.7;
  }
  .myOutlet{
    position: relative;
    z-index: 100;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .container{
    &::before{
      background-size: auto 100vh;
    }
  }
}
