<div class="main">
  <p class="header">Hello there,<br> &nbsp; &nbsp; my name is <span>Katya</span></p>
  <div class="wrapper left">
    <img src="assets/images/1.jpeg" alt="">
    <div class="box-dotted"></div>
    <div class="box"></div>
  </div>
  <div class="wrapper right">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore possimus reiciendis repudiandae! Error est
      explicabo laborum necessitatibus nesciunt nulla quis repellat sequi. A ab aspernatur autem blanditiis dicta earum
      eius esse expedita minus natus nemo neque non officia praesentium qui sint, veritatis voluptas voluptatem.
      Consequuntur dicta eius esse iure officiis quidem repudiandae, totam! Et fuga hic, laudantium natus nesciunt
      officia quos. Ad at dolor exercitationem in itaque laudantium molestiae nulla praesentium soluta veritatis?
      Aperiam aut delectus excepturi exercitationem facilis harum illum omnis rerum sunt! Culpa laudantium perferendis
      quidem tempora veritatis vitae! Aliquid asperiores iusto libero nesciunt nobis nulla odit vero.</p>
    <div class="button-container">
      <app-button [route]="'/'" [text]="'Education'"></app-button>
      <app-button [route]="'/'" [text]="'Skills'"></app-button>
      <app-button [route]="'/'" [text]="'Projects'"></app-button>
      <app-button [route]="'/'" [text]="'Info'"></app-button>
    </div>
  </div>
</div>

