<div class="container">
  <div class="main">
    <p class="header">Hello there,<br> &nbsp; &nbsp; my name is <span>Katya</span></p>
    <div class="wrapper left">
      <img src="assets/images/portrait.jpg" alt="">
    </div>
    <div class="wrapper right">
      <a class="cv" href="../../../assets/CV-Kateryna-Mitchenko.pdf" download="Kateryna Mitchenko CV"> Download CV</a>
      <p class="sub-header">I am a beginner frontend developer</p>
      <p class="text">Being an extremely visual person with attraction to technologies has brought me to the field of web development, which allows me to be creative in both ways. I like the idea of making an impact through one of the biggest and fast developing spheres where every detail matters. I like to get the most of my learning abilities and hence constantly improve them and broaden my horizons.</p>
      <div class="button-container">
        <app-button [route]="'/education'" [text]="'Education'"></app-button>
        <app-button [route]="'/skills'" [text]="'Skills'"></app-button>
        <app-button [route]="''" [text]="'Projects'"></app-button>
        <app-button [route]="''" [text]="'Info'"></app-button>
      </div>
    </div>
  </div>
</div>
