<div class="container">
  <div class="left">
    <div class="position">
      <h3>Bachelor of Applied Linguistics</h3>
      <p>Lviv Polytechnic National University | 2018 - now</p>
      <p>English & German </p>
    </div>
    <br>
    <div class="position">
      <h3>Frontend Developer courses</h3>
      <p>LOGOS IT Academy | April 2020 - November 2020</p>
    </div>
  </div>

  <div class="right">
    <p class="header">Education</p>
    <img class="books" src="../../../assets/images/books1.jpg" alt="">
  </div>
</div>
