<div class="container">
  <div class="main">
    <div class="left">
      <div class="position">
        <h2>Bachelor of Applied Linguistics</h2>
        <p>Lviv Polytechnic National University | 2018 - now</p>
        <p>English & German </p>
      </div>
      <br>
      <div class="position">
        <h2>Frontend Developer courses</h2>
        <p>LOGOS IT Academy | April 2020 - November 2020</p>
      </div>
    </div>

    <div class="right">
      <p class="header">Education</p>
      <img class="books" src="../../../assets/images/books1.jpg" alt="">
    </div>
  </div>
</div>
