.container {
  width: 100%;
  height: 300px;
  background-color: rgba(20, 33, 61, 0.35);

  .main {
    width: 70%;
    height: inherit;
    margin: auto;

    .left {
      float: left;
      width: 70%;
      height: 100%;
      font-family: 'Monserrat', sans-serif;
      color: white;
      position: relative;

      .position {
        border-left: 1px solid white;
        padding-left: 3%;
      }

      h2 {
        font-style: italic;
        font-family: "Playfair Display", serif;
        margin: 5% 0;
      }
    }

    .right {
      float: right;
      width: 30%;
      height: 100%;
      background-color: #e63946;
      position: relative;

      .header {
        position: absolute;
        z-index: 20;
        transform-origin: 0 0;
        border-top: 3px solid white;
        transform: rotate(90deg);
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-weight: bold;
        font-size: 2.1em;
        color: rgba(255, 255, 255, 0.9);
      }

      .books {
        position: absolute;
        z-index: 10;
        width: 135%;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  .container {
    height: 600px;

    .main {
      width: 100%;
      padding-top: 5%;

      .left {
        height: max-content;
        float: none;
        margin: auto;
        padding-bottom: 10px;
      }

      .right {
        float: none;
        width: 100%;
        height: 50%;
        background: none;

        .header {
          top: 50%;
          left: 50%;
          transform: none;
        }

        .books {
          width: 100%;
          opacity: 0.7;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

@media (min-width: 701px) and (max-width: 1023px) {
  .container {
    .main {
      width: 100%;
      padding: 0 2%;

      .left{
        padding: 2% 10%;
      }
      .right {
        .header {
          top: 25%;
          left: 25%;
          border: none;
        }
        .books {
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .left {
    padding: 3% 15% 2% 0;
  }
  .right {
    .books {
      //top: 11%;
      right: 15%;
      height: 100%;
    }

    .header {
      top: 25%;
      right: 3%;
    }
  }
}

@media (max-width: 1279px) and (min-width: 1024px) {
  .right {
    .books {
      top: 16%;
      right: 5%;
    }

    .header {
      top: 22%;
      right: -25%;
    }
  }
}
@media (min-width: 1601px) {
  .container {
    .main {
      width: 60%;
      .left{
        padding-top: 0;
      }
    }
  }
}
