.container {
  height: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.43);

  .main {
    width: 85%;
    height: 100%;
    margin: auto;

    .options {
      height: 13%;
      text-align: center;
      color: #e5e5e5;

      .skills {
        cursor: pointer;
        display: inline-block;
        width: 150px;
        height: 100%;
        padding: 1% 20px;
        font-family: "Playfair Display", sans-serif;
        font-weight: bold;
        font-style: italic;
        font-size: 1.2em;
      }

      .soft {
        background-color: rgba(220, 220, 220, 0.24);
      }

      .hard {
        background-color: rgba(26, 26, 26, 0.4);
      }

    }

    .left {
      width: 100%;
      height: 87%;
      background-color: rgba(220, 220, 220, 0.24);

      .info {
        width: 70%;
        height: 100%;
        float: left;
        font-family: "Monserrat", sans-serif;
        text-align: center;

        .text {
          width: 100%;
          text-align: justify;
          height: 50%;
          padding: 5% 10%;
        }

        .skillBox {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;

          .card {
            width: 27%;
            color: #a7a6a3;
            background-color: rgba(14, 30, 61, 0.51);
            margin: 4% 0;
            transition: 0.3s;

            &:hover {
              color: #fff;
              background-color: rgba(14, 30, 61, 0.91);
            }
          }
        }

      }

      .image {
        width: 30%;
        height: 100%;
        float: right;
        position: relative;
        top: 10%;
        left: 5%;

        .box {
          width: 170px;
          height: 250px;
          background-color: rgba(255, 255, 255, 0.51);
          position: absolute;
          top: -5%;
          left: 10%;
          z-index: 0;
        }

        img {
          position: relative;
          z-index: 1;
          width: 170px;
          height: auto;
        }
      }
    }

    .right {
      background-color: rgba(26, 26, 26, 0.4);
      height: 87%;
      font-family: "Playfair Display", serif;
      font-weight: bold;
      color: #a7a6a3;

      .skills {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;

        .icon {
          position: relative;
          cursor: pointer;

          .level,
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .level {
            visibility: hidden;
            transition: 1s;
            color: #3a3937;
            text-shadow: 0 0 10px #FFFFFF;
          }

          &:hover .level {
            visibility: visible;
            font-size: 25px;
          }

          .title {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 699px){
  .container{
    height: max-content;
    .main{
      width: 100%;
      .options{
        .skills{
          width: 50%;
        }
      }
      .left{
        height: 100%;
        .info{
          width: 100%;
          float: none;
          text-align: center;
          .skillBox{
            flex-direction: column;
            align-items: center;
            .card{
              width: 80%;
              padding: 10px 0;
            }
          }
        }
        .image{
          width: 90%;
          top: 0;
          left: 0;
          margin: auto;
          float: none;
          .box{display: none}
          img{
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      .right{
        height: 700px;
        .skills{
          width: 100%;
          grid-template-columns: repeat(2,1fr);
        }
      }
    }
  }
}

@media (min-width: 701px) and (max-width: 1023px){
  .container{
    height: max-content;
    .main{
      width: 95%;
      .left{
        height: 400px;
        .info{
          width: 65%;
          .text{
            padding: 4% 10%;
            height: auto;
          }
          .skillBox{
            .card{
              width: 40%;
              padding: 5px 0;
            }
          }
        }
        .image{
          width: 35%;
          padding-right: 2%;
          top: 20%;
        }
      }
      .right{
        height: 700px;
        .skills{
          width: 100%;
          grid-template-columns: repeat(3,1fr);
        }
      }
    }
  }
}
@media (min-width: 1601px) {
  .container {
    .main {
      width: 60%;
    }
  }
}
