<div class="container">
  <div class="main">
    <div class="options">
      <span class="soft skills" (click)="toggle('soft')">Soft Skills</span>
      <span class="hard skills" (click)="toggle('hard')">Hard Skills</span>
    </div>
    <div class="left" *ngIf="option === 'soft'">
      <div class="info">
        <p class="text">Applying hard skills is essential, but finding a way to communicate and collaborate effectively is just as important. I am eager to always improve my interpersonal-communication skills, and can say that studying linguistics helped me a lot to develop in this field. I have open-minded personality and continuously looking for creative approach in regard of problems-solving.</p>
        <div class="skillBox">
          <p class="card">Reliable and organized</p>
          <p class="card">Flexible</p>
          <p class="card">Fast learner</p>
          <p class="card">Creative spirit</p>
          <p class="card">Team player</p>
          <p class="card">Critical thinker</p>
        </div>
      </div>
      <div class="image">
        <div class="box"></div>
        <img src="../../../assets/images/soft.jpg" alt="" class="soft">
      </div>
    </div>
    <div class="right" *ngIf="option === 'hard'">
      <div class="skills">
        <div class="icon" *ngFor="let skill of hardSkills">
          <img src="{{ skill.logoUrl }}" alt="">
          <span class="level">{{ skill.level }}</span>
          <span class="title">{{ skill.name }}</span>
        </div>
      </div>
    </div>

  </div>

</div>
